#!/bin/bash

################################################################################
# Generic aliases
################################################################################
alias today="date '+%F_%s'"
alias historyco=history_no_timestamp

################################################################################
# File navigation, stats, or modification
################################################################################
# Make console navigation easier.
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias df="df -h"
alias du="du -h"
alias dd1GB="dd if=/dev/zero of=\$HOME/test-1GB.txt bs=1024 count=0 seek=\$[1024*1000]"

################################################################################
# Extract Files
################################################################################
alias extractall-tar='for i in *.tar; do echo Extracting $i; tar xf $i ; done;'
alias extractall-tarbz2='for i in *.tar.bz2; do echo Extracting $i; tar jxf $i ; done;'
alias extractall-targz='for i in *.tar.gz; do echo Extracting $i; tar zxf $i ; done;'
alias extractall-gz='for i in *.gz; do echo Extracting $i; gunzip -d $i ; done;'
alias extractall-bz2='for i in *.bz2; do echo Extracting $i; bzip2 -d $i ; done;'

################################################################################
# Colorize grep searches
################################################################################
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'

################################################################################
# Colorize ls output
################################################################################
# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
    colorflag="--color"
else # OS X `ls`
    colorflag="-G"
fi
# Always use color output for `ls` so no need to specify the flag.
alias ls="command ls ${colorflag}"
# List all files colorized in long format
alias l="ls -l"
# List all files colorized in long format, including dot files
alias la="ls -la"
# list all files
alias ll='ls -lh'
# List only directories
alias lsd='ls -l | grep "^d"'

################################################################################
# Aliases for root user
################################################################################
if [[ $(id -u) -eq 0 ]]; then
    alias rm='rm -i'
    alias cp='cp -i'
    alias mv='mv -i'
fi

################################################################################
# Development tools
################################################################################
alias kcscope="cscope -Rk -p4";
alias pycscope="find -name *.py > cscope.files; cscope -b; cscope";
alias diff="/usr/bin/diff -pruN";

################################################################################
# Git commands
################################################################################
alias gitbranchall="git branch -vv -a";
alias gitconfigls="git config --list";
alias gitaddall="git add .";
alias gitcommit="git commit -s -m";
alias gitpushorigin="git push origin";
alias gitrebasemaster="git rebase master";
alias gitreset="git reset --hard origin/master";
alias gitdiffhead="git diff HEAD";
# git show 6a985e3fda9458c84393c18f9cf700a510ff26b0 # For commit in sos repo.
alias gitshowcommit="git show ";
# Found these here: https://stackoverflow.com/questions/2421011/output-of-git-branch-in-tree-like-fashion
alias gitbranchtree_1="git log --graph --simplify-by-decoration --pretty=format:'%d' --all";
alias gitbranchtree_2="git log --graph --all --format='%C(cyan dim) %p %Cred %h %C(white dim) %s %Cgreen(%cr)%C(cyan dim) <%an>%C(bold yellow)%d%Creset'"
alias gitcommitstree="git log --graph --oneline --decorate --branches --tags";

################################################################################
# Personal/Project commands
################################################################################
alias sxconsole='~/github/sx/sxconsole'
alias sxcrun='~/github/sx/sxconsole -R ~/Downloads -N -e cluster,storage,networking '
